@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
    color: #111;
}

a {
    text-decoration: none;
    color: #111;
}

.wrapper {
    max-width: 1035px;
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h1 {
    font-size: 36px;
    margin: 0;
    position: relative;
    top: 10px;
}

header h1:hover {
    opacity: 0.8;
    transition: all 0.5s;
}

header h1 span {
    font-weight: normal;
    font-size: 18px;
    color: #777;
}

header ul {
    list-style-type: none;
    display: flex;
    position: absolute;
    padding: 0;
    top: 32px;
    left: 280px;
}

header li {
    margin-left: 40px;
    font-size: 18px;
}

header li a:hover {
    color: #c49029;
    transition: all 0.5s;
}

header a {
    margin-top: 50px;
}

header img {
    width: 25px;
}


main {
    margin: 70px 0;
}

main img {
    max-width: 1035px;
    width: 100%;
}

main p {
    color: #777;
    font-size: 27px;
    line-height: 1.7;
    margin-top: 70px;
}


.main2 {
    padding-bottom: 75px;
}

.main2 time a {
    color: #999;
}

.main2 p {
    color: #666;
}

.main2 article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main2 time {
    width: 30%;
    position: relative;
    top: 25px;
}

.main2 time a:hover {
    color: #333;
    transition: all 0.5s;
}

.main2 div {
    width: 70%;
}

.main2 h2 a:hover {
    color: #c49029;
    transition: all 0.5s;
}

.main2 p {
    font-size: 18px;
    line-height: 1.8;
}

.number {
    display: flex;
    justify-content: center;
}

.h-number {
    display: block;
    width: 50px;
    line-height: 50px;
    text-align: center;
    margin: 6px;
    color: #333;
    border: 1px #ddd solid;
}

.h-number:hover {
    color: #c49029;
    transition: all 0.2s;
}

.rino {
    width: 100px;
}


.main3 {
    display: flex;
    justify-content: space-between;
    color: #666;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 75px 0;
}

.main3 h3 {
    color: #333;
    font-size: 16px;
}

.c a {
    border-bottom: 1px solid #ddd;
}

.d a {
    border-bottom: 1px solid #ddd;
}

.main3 time {
    color: #999;
}

.main3 a:hover {
    transition: all 0.5s;
    color: #c49029;
}

.main3 .abcde {
    margin-left: 5%;
}

.a {
    width: 33%;
}

.b {
    width: 27%;
}

.c, .d {
    width: 20%;
}

.main3 .abcde div {
    margin-bottom: 20px;
}

.hirota {
    display: flex;
}

.fab {
    color: #999;
    font-size: 25px;
}

.fab:hover {
    color: #666;
    transition: all 0.2s;
}

.profile-right .fab {
    margin-right: 10px;
}

.profile-right .fab:hover {
    transition: all 0.5s;
    opacity: 0.8;
}

.profile-left img {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.search {
    margin-top: 100px;
    padding: 15px 20px;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
}


footer {
    padding: 20px 0 50px 0;
    display: flex;
}

footer .container {
    max-width: 340px;
    width: 100%;
    padding-top: 25px;
}

footer .container a {
    margin-right: 20px;
}

footer p {
    color: #999;
    font-size: 20px;
}

footer p a {
    color: #666;
}

.header-menu {
    display: none;
    color: #111;
    font-size: 28px;
    position: relative;
    top: 10px;
}
